{% extends 'baseitem/base.html' %}
{%  load static %}

<!-- Стиль footer-a для главной страницы -->
{% block extra_css %}<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}"> {% endblock %}
<!-- Favicons for different platforms -->

{% block content %}
    <div class="mt-5 pt-5 p-3 bg-secondary bg-opacity-50 shadow-lg rounded">

    <h2 class="m-2"><strong>{{ content }}</strong></h2>
    <p class="m-2">{{ text_on_page }}</p>
    </div>
{% endblock %}
{% block footer %}<footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Baks Hi-Tech store 2024</p>
        </div>
    </footer>
{% endblock %}