{% extends 'base.html' %}
{%  load static %}



{% block cart_modal_window %}
    {% include "includes/cart_button.html" %}
{% endblock %}


{% block content %} <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1> {% endblock %}
{% block footer %}
    <div class="mt-auto">
        <footer class="mt-auto py-1 bg-dark">
            <div class="container">
                <p class="m-2 text-center text-white">Copyright &copy; Baks Hi-Tech store 2024</p>
            </div>
        </footer>
    </div>
{% endblock %}
