{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <h2 class="text-center mb-4">Пароль успешно изменен</h2>
                    <p>Теперь вы можете войти на сайт</p>
                    <a href="{% url 'users:login' %}" class="btn btn-dark btn-lg" role="button"
                       aria-pressed="true">Войти на сайт</a>

                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block footer %}
    <div class="mt-auto">
        <footer class="mt-auto py-1 bg-dark">
            <div class="container">
                <p class="m-2 text-center text-white">Copyright &copy; Baks Hi-Tech store 2024</p>
            </div>
        </footer>
    </div>
{% endblock %}




