{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <h2 class="text-center mb-4">Введите новый пароль для аккаунта</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% if validlink %}
                            <div class="mb-3">
                                <label for="id_new_password1" class="form-label">Введите новый пароль</label>
                                <input type="password" class="form-control" name="new_password1" id="id_new_password1"
                                       placeholder="Новый пароль" required>
                            </div>
                            <div class="mb-3">
                                <label for="id_new_password2" class="form-label">Повторите новый пароль</label>
                                <input type="password" class="form-control" name="new_password2" id="id_new_password2"
                                       placeholder="Повторите новый пароль" required>
                            </div>


                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    {% for error in form.errors.as_data.values %}
                                        {% for data in error.0 %}
                                            <p>{{ data }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <button type="submit" class="btn btn-dark btn-block">Сохранить новый пароль</button>
                        {% else %}
                            <h3>Ссылка устарела или не верна</h3>
                        {% endif %}


                    </form>

                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block footer %}
    <div class="mt-auto">
        <footer class="mt-auto py-1 bg-dark">
            <div class="container">
                <p class="m-2 text-center text-white">Copyright &copy; Baks Hi-Tech store 2024</p>
            </div>
        </footer>
    </div>
{% endblock %}